<div class="row">
  <div class="col-xs-12 col-sm-6" *ngFor="let review of reviews | async">
    <div class="card mb-3">
      <div class="card-header d-flex align-items-center">
        <img 
          alt="User Image" 
          class="img-circle" 
          [src]="getImageForRating(review.rating)" 
          style="width: 40px; height: 40px; margin-right: 10px;">
        <div>
          <h5 class="mb-0">{{ review.name }}</h5>
          <small class="text-muted">{{ review.date | date:'dd/MM/yyyy' }}</small>
        </div>
        <span class="review-score ms-auto"><i class="fa fa-star"></i> {{ review.rating }}</span>
      </div>
      <div class="card-body">
        <p class="card-text">{{ review.comments }}</p>
      </div>
    </div>
  </div>
</div>
